-r docs/requirements.txt
async-asgi-testclient==1.4.6
bcrypt==3.2.0
broadcaster==0.2.0
coverage==5.3
fastapi==0.65.2
numpy==1.20.1
passlib[bcrypt]==1.7.4
pre-commit==2.7.1
pymysql==0.10.1
pytest==6.2.1
pytest-asyncio==0.14.0
pytest-cov==2.10.1
python-jose[cryptography]==3.2.0
python-multipart==0.0.5
simplejson==3.17.2
sqlalchemy==1.4.18
starlette==0.14.2
uvicorn==0.14.0
websockets==9.1
