-r docs/requirements.txt
async-asgi-testclient==1.4.6
bcrypt==3.2.0
broadcaster==0.2.0
coverage==5.5
fastapi==0.65.2
numpy==1.22.0
passlib[bcrypt]==1.7.4
pre-commit==2.13.0
pymysql==1.0.2
pytest==6.2.4
pytest-asyncio==0.15.1
pytest-cov==2.12.1
python-jose[cryptography]==3.2.0
python-multipart==0.0.5
simplejson==3.17.3
sqlalchemy==1.4.20
starlette==0.14.2
uvicorn==0.14.0
websockets==9.1
